.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj.user
BackgroundGenerator.exe
BitLockerDiscoveryVolumeContents
Boot
Branding
CCM
CbsTemp
Classroom.theme
Containers
Cursors
Downloaded Program Files
DtcInstall.log
ELAMBKUP
Education.xml
Enterprise.xml
FSAVCSIN.LOG
FSDEPH.log
FSGUIINS.LOG
FSISU.log
FSPROD.log
FSSETUP.log
FSSFM.log
FSSYSUPD.LOG
Fonts
Globalization
HELPINST.LOG
HPMProp.INI
Help
HelpPane.exe
IME
INF
IdentityCRL
ImmersiveControlPanel
InputMethod
Installer
L2Schemas
LoadProfile.exe
Logs
Microsoft.NET
Migration
OCR
Offline Web Pages
PFRO.log
PLA
Performance
PolicyDefinitions
PrintDialog
Professional.xml
ProfessionalEducation.xml
ProfessionalWorkstation.xml
Provisioning
Registration
Resources
RunSetup.log
SKB
SMSAdvancedClient.configmgr1710-client-kb4086143-x64.mif
SMSCFG.INI
ServerRdsh.xml
Setup
ShellComponents
ShellExperiences
SoftwareDistribution
Speech
Speech_OneCore
SysWOW64
System
System32
SystemApps
SystemResources
Tasks
TextInput
Uni Crest-vert.png
Uni Crest.png
Vss
WMSysPr9.prx
WaaS
Web
Win32API.dll
WinSxS
WindowsShell.Manifest
WindowsUpdate.log
addins
aksdrvsetup.log
appcompat
apppatch
assembly
background.bmp
bcastdvr
bfsvc.exe
bootstat.dat
debug
deploy
diagnostics
en-US
explorer.exe
fsdevconinst.log
fsmainst.log
fspplugin.log
fsrif.log
fstnbins.LOG
hh.exe
idlelogoff.exe
lsasetup.log
media
mib.bin
notepad.exe
outlook-auto.xml
panther
regedit.exe
rescache
schemas
security
servicing
setupact.log
setuperr.log
splwow64.exe
system.ini
twain_32
twain_32.dll
win.ini
winhlp32.exe
write.exe